fastapi
uvicorn[standard]
python-multipart
Pillow
# --- PyTorch Installation for Mac M1/CPU ---
torch
torchvision
torchaudio

# --- Hugging Face Transformers and dependencies ---
evaluate
scikit-learn
transformers
accelerate
sentencepiece

# --- Other ---
requests
